{% extends 'home/base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <p>
        Hi I'm Ethan, one of the three people who worked on this site here's a <br>
        little about me. while creating this site we had ups and downs but it was <br>
        fun to create and I hope you enjoy it! Here's a little about me I like to <br>
        play games like soccer, dark souls and Fire Emblem. This was my first time <br>
        using code I had to learn from scratch it was difficult but fun. <br>
        Thank you for using this site it's not the best but I hope you find it useful.
    </p>
</div>
<div class="d-flex justify-content-center">
    <a href="https://github.com/Tem-warlord/twins-site/tree/main/schoolwork">Ethan's Github</a></li>
</div>
<br><br>

<div class="d-flex justify-content-center">
    <p>
        I was interested in Bellevue College and Caltech because of their IT programs. <br>
        They both have good programs to help you learn about computers and get <br>
        ready for the workforce. I contributied to this project by looking up and inputing all of the<br>
        information on each of these colleges. I would like to go to college <br>
        in the future and then get a job working in the IT field.
    </p>
</div>
<div class="d-flex justify-content-center">
<a href="https://github.com/Pendant90/twins-site/tree/master/twinshomework/home/templates/home">Eric's Github</a></li>
</div>
{% endblock %}