{% extends 'home/base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
<h1>Washington State University</h1>
</div>
<div class="d-flex justify-content-center">
	<h3>
		<p>Washington State University
	 offers a wide selection of majors, for you to choose from.
	</p>
	</h3>
</div>
<div class="d-flex justify-content-center">
	<a href="https://wsu.edu/"  >wsu.edu</a>
</div>
<div class="d-flex justify-content-center">
	<h2>Facts about WSU</h2>
</div>
<div class="d-flex justify-content-center">
<p>
	<ol>
		<li> WSU delivered $406.7 million in financial aid and scholarships for undergraduate <br>
			students (2018-19). In the 2018-19 academic year, 76% of WSU undergraduates received <br>
			some form of financial aid.</li>

		<li>WSU went though several name changes. From Weber State Academy to Weber Normal College. <br>
			Yes, you read that right, normal. I had a hard time believing that It had the word <br>
			normal in the name, but it was typical for teacher for colleges at the time.</li>

		<li>WSU's original name was Washington State Agricultural College <br>
			and School of Sciences. It is located in Richland, Washington.

		<li> The mascot, Butch T. Cougar, was first seen in 1927.

		<li> In 1993, WSU Vancouver was one of the first institutions in the country to use <br>
				interactive electronic classrooms. (classes via video)
	</ol>
</p>
</div>
<div class="d-flex justify-content-center">

<picture>

		<img src="https://media.krem.com/assets/KREM/images/6b5a9054-15fd-40af-9da7-b0ee9b491183/6b5a9054-15fd-40af-9da7-b0ee9b491183_1140x641.jpg" alt="Butch T. Cougar imagine. width="450" height="400">
</picture>

</div>
<div class="d-flex justify-content-center">
	<h2>Possible Majors</h2>
</div>
<div class="d-flex justify-content-center">
<p>
	<ol>
		<li>Criminal Justice/Police Science</li>
		<li>Biochemistry</li>
		<li>Mathematics</li>
		<li>Accounting</li>
		<li>Digital Communication and Media/Multimedia</li>
		<li>Neuroscience</li>
		<li>Registered Nursing/Registered Nurse</li>
	</ol>
</p>
</div>
<div class="d-flex justify-content-center">
<h2> What you need to know to get in </h2>
</div>
<div class="d-flex justify-content-center">
<p>
	<ol>
		<li>You need a GPA of 3.4 so you should mostly get A's and B's.</li>
		<li>You'll want a SAT score of 1000 or better, you should aim higher.</li>
		<li>Washington state doesn't have a minimum ACT requirement, but if you <br>
			apply with a 20 or below you'll have a tough time getting in.</li>
	</ol>
</p>
</div>
<div class="d-flex justify-content-center">

<picture>
		<img src="https://sfcc.spokane.edu/ccsglobal/media/Global/Hero1800x600/SFCC/Pullman/PullmanCampus-WSU-Mall-outdoors-students_H.jpg?ext=.jpg" alt="wsu campus imagine. Height="700" width="750">
</picture>

</div>
<style>
	  div#content  {background-color: #981e32;
	  background-color: linear-gradient(#5e6a71, #981e32);
	  color: #FFF;
	  text-shadow: .05px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	  }
</style>
{% endblock %}


<!-- http://minify.link/3Oy -->