{% extends 'home/base.html' %}

{% block content %}
<div id="intro">
<p>
    Welcome to Eric and Ethan's site! Currently we are exporing which
    colleges they would like to attend.
</p>
<p>
    My name is Ron Smith. I work as a developer and support for NOAA
    (National Oceanic and Atmospheric Administration) at Pacific Marine
    Environmental Laboratory.
</p>
<p>
    My contribution to this project is the Django framework and this homepage.
    The school pages as well as the styling are ether BootStrap or custom styling
    written by both Eric and Ethan. The site is hosted on my home server
    on a domain issued by freenom. It has been my pleasure to mentor them in
    the beginning basics of web development.
</p>
<p>
    Eric and Ethan have both created GitHub accounts to show their particular
    contributions to this project and the final / complete project is hosted on mine.
</p>
</div>



{% endblock %}